/* UNIVERSAL STYLES START */
:root {
    --primary: #142429;
    --secondary: #294851;
}

body {
    font-family: "Montserrat", sans-serif;
    color: white;
}
/* UNIVERSAL STYLES END */



/* NAVIGATION STYLES START */
.btn-hover:hover {
    color: #223C44;
    background-color: #69A4B5;
    transition: all 0.6s ease-in-out;
}

.btn-hover:not(:hover) {
    color: white;
    background-color: var(--secondary);
    transition: all 0.8s ease-in-out;
}
/* NAVIGATION STYLES END */




/* MAIN STYLES START */

/* MAIN STYLES END */


/* WORKOUT SECTION STYLES */
/* drop down styles */
select {
    background-image: none;
    padding: 10px 40px;
    text-align: center;
}

select:hover {
    border: 5px solid #69A4B5;
    transition: all 0.4s ease-in-out;
}
/* WORKOUT SECTION STYLES END */



/* SAVED STYLES START */

/* SAVED STYLES END */



/* RECIPE STYLES START */

/* RECIPE STYLES END */




/* REVIEW */
/* makes exercise collapsibles work */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
/* ^^^makes exercise collapsibles work */
