:root {
  /* changed for my computer, hard to see -LY */
  /* --primary: #142429;
  --secondary: #1B3137; */
  --primary: #4392aa;
    --secondary: #35a5c4;
}

/* makes exercise collapsibles work */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
/* ^^^makes exercise collapsibles work */
